.tournament-page_content {
    padding: 16px 0 0;
}
.tournament-page_content.--full {
    padding: 0;
}

.group.--full {
    margin: 0;
    padding: 0 16px;
}
.group.--full .group-result {
    padding: 16px 0;
}
@media screen and (max-width:1023px) {
    .group.--full .group-result {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}.group.--full .group-result_left {
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     width: 450px;
 }
@media screen and (max-width:1200px) {
    .group.--full .group-result_left {
        width: 340px;
    }
}@media screen and (max-width:1023px) {
    .group.--full .group-result_left {
        width: calc(100% - 50px);
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 1;
        order: 1;
    }
}.group.--full .group-result_main {
     -webkit-box-align: start;
     -ms-flex-align: start;
     align-items: flex-start;
     width: calc(100% - 600px);
     padding: 0;
 }
@media screen and (max-width:1200px) {
    .group.--full .group-result_main {
        width: calc(100% - 480px);
    }
}@media screen and (max-width:1023px) {
    .group.--full .group-result_main {
        margin: 14px 0 0;
        width: 100%;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 3;
        order: 3;
        display: block;
    }
}.group.--full .group-result_right {
     -webkit-box-align: start;
     -ms-flex-align: start;
     align-items: flex-start;
 }
@media screen and (max-width:1200px) {
    .group.--full .group-result_right {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 2;
        order: 2;
    }
}.group.--full .group-result_date {
     margin: 4px 0 0;
 }
.group.--full .group-result_team {
    padding: 0 0 0 34px;
    width: 60%}
.group.--full .group-result_team-link {
    padding: 0 0 0 48px;
}
@media screen and (max-width:1023px) {
    .group.--full .group-result_team-link {
        padding: 0 40px 0 48px;
    }
}.group.--full .group-result_team:first-child {
     width: 40%;
     padding: 0 34px 0 0;
 }
.group.--full .group-result_team:first-child .group-result_team-link {
    padding: 0 48px 0 0;
}
@media screen and (max-width:1023px) {
    .group.--full .group-result_team {
        width: 100%;
        padding: 0;
        text-align: left;
    }
    .group.--full .group-result_team .group-result_team-score {
        right: 0;
        left: auto;
    }
    .group.--full .group-result_team:first-child {
        width: 100%}
    .group.--full .group-result_team:first-child .group-result_team-link {
        padding: 0 40px 0 48px;
    }
    .group.--full .group-result_team:first-child .group-result_team-logo {
        left: 0;
        right: auto;
    }
    .group.--full .group-result_team:first-child .group-result_team-score {
        right: 0;
        left: auto;
    }
}.group.--full .team-tournament_list {
     padding: 8px 0;
 }
.group.--full .team-tournament_item {
    padding: 8px 340px 8px 64px;
}
@media screen and (max-width:1200px) {
    .group.--full .team-tournament_item {
        padding: 8px 240px 8px 64px;
    }
}@media screen and (max-width:767px) {
    .group.--full .team-tournament_item {
        padding: 10px 0;
        height: auto;
    }
}

.float {
    zoom: 1;
}
.float:after {
    content: '';
    display: table;
    clear: both;
}
.team .top-link-b {
    margin: 32px 0 24px;
}
.top-link-b {
    font-size: 0;
    position: relative;
}
.top-link-b:after {
    position: absolute;
    content: '';
    height: 1px;
    background: #e3e0dc;
    left: 0;
    right: 0;
    bottom: 0;
}
@media screen and (max-width:767px) {
    .top-link-b {
        overflow-x: auto;
        white-space: nowrap;
    }
}.top-link-b.--stage .top-link {
     min-width: 48px;
     margin: 16px 16px 0 0;
     text-align: center;
 }
.top-link-b.--line:after {
    display: none;
}
.top-link-b.--line .top-link {
    padding: 0 0 9px;
    line-height: 22px;
    margin: 0;
}
.top-link-b.--line .top-link+.top-link {
    margin: 0 0 0 16px;
}
.top-link-b+.filter-date_link-b, .top-link-b+.filter-b {
    margin-top: 16px;
}
.mp_top-link {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0;
}
.top-link {
    display: inline-block;
    margin: 16px 24px 0 0;
    padding: 0 0 18px;
    position: relative;
    font-size: 16px;
    line-height: 22px;
    color: #766b60;
    font-weight: 700;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    z-index: 1;
}
.top-link:after {
    position: absolute;
    display: block;
    content: '';
    height: 2px;
    background: 0 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}
.top-link:hover, .top-link.active {
    color: #f77d40;
}
.top-link:hover:after, .top-link.active:after {
    background: #f77d40;
}
.mp_media-item:hover:before, .mp_media-item.active:before {
    background: #f77d40;
}
.mp_media-item:hover .mp_media-title, .mp_media-item.active .mp_media-title {
    color: #fff;
}
.mp_tournament-status.--active {
    background: rgba(99, 203, 0, .2);
    color: #356c00;
}
.search-b.active .search {
    display: block;
}
.header.opened .lang_link.active {
    border-bottom-color: #f77d40;
}
.dropdown.active .dropdown-select {
    border-color: #9a928c;
}
.dropdown.active .dropdown-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.input-file-wrapper:active .button {
    background: #e2692c;
    border: 1px solid #e2692c;
}
.button.--red:active {
    background: #d12125;
}
.button.--border-small:active {
    background: #e2692c;
    border: 1px solid #e2692c;
}
.button:active {
    background: #e2692c;
}
.button.--border:active {
    background: #e2692c;
    border: 1px solid #e2692c;
}
.bracket_link.active {
    opacity: 1;
    cursor: pointer;
}
.tournament-game_link:hover, .tournament-game_link.active {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #f6f4f2;
}
.tournament-game_link:hover .tournament-game_link-text, .tournament-game_link.active .tournament-game_link-text {
    color: #f77d40;
}
.tournament-link.active, .tournament-link:hover {
    background: #da6b2f;
}
.tournament-top_text.--edit .button:active {
    background: #e2692c;
}
.games_link.--all.active:before {
    background: 0 0;
}
.pagination a.--link:hover, .pagination a.--link.active {
    color: #f77d40;
    background: #fef2ec;
}
.tag:active {
    background: #fbc505;
    color: #554307;
}
.slider-b .slick-dots li.slick-active button {
    background: #9a9189;
}
.slider-b .slick-slide.slick-active:before {
    content: '';
    position: absolute;
    top: 100%;
    height: 2px;
    background: #fff;
    left: 0;
    width: 0;
    margin: -2px 0 0;
    -webkit-animation: slider_bar 7s forwards linear;
    -moz-animation: slider_bar 7s forwards linear;
    -o-animation: slider_bar 7s forwards linear;
    animation: slider_bar 7s forwards linear;
}
.bracket_link.active:hover {
    background: #f77d40;
}
.bracket_link.active:hover .bracket_link-icon path {
    fill: #fff;
}
.bracket_link-b.active-arrow .bracket_link {
    display: block;
}
.daterangepicker .calendar-table td.available.active.start-date {
    position: relative;
}
.daterangepicker .calendar-table td.available.active.start-date:after {
    content: '';
    background: #fef2ec;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
}
.daterangepicker .calendar-table td.available.active.end-date {
    position: relative;
}
.daterangepicker .calendar-table td.available.active.end-date:before {
    content: '';
    background: #fef2ec;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: -1;
}
.daterangepicker .drp-buttons .applyBtn:active {
    background: #e2692c;
}
.status.--active {
    background: rgba(99, 203, 0, .2);
    color: #356c00;
}
@media screen and (max-width: 1200px) {
    .filter-type_title-b {
        background-position: top 6px right;
    }
}
@media screen and (max-width: 1200px) {
    .filter-type_title-b.active {
        background-position: top 6px right;
    }
}
.filter-date_link.active, .filter-date_link:hover {
    color: #f77d40;
}

.as-link:hover, .as-link.active {
    border-bottom-color: #fff;
}.link.--twitch:active {
     background: #5b1d81;
 }
.daterangepicker .calendar-table td.available.active {
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-radius-topleft: 50%;
    -moz-border-radius-topright: 50%;
    -moz-border-radius-bottomright: 50%;
    -moz-border-radius-bottomleft: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    color: #fff;
    background: #f77d40;
}
.js-tab-content.active {
    display: block;
}
.tab_link.active, .tab_link:hover {
    color: #f77d40;
    border-color: #f77d40;
}
.t-slider_text-b.active {
    display: flex;
}
.t-slider_link.active, .t-slider_link:hover {
    color: #f77d40;
    border-color: #f77d40;
}
.t-slider.active {
    display: block;
}
.t-card.--all .button:active {
    background: #e2692c;
}
.bv-slider .slick-dots li.slick-active button {
    opacity: 1;
}
.mobile .table-pubg_wrapper, .tablet .table-pubg_wrapper {
    overflow-x: auto;
    font-size: 0;
    display: block;
    white-space: nowrap;
}
.table-pubg_wrapper {
    width: 100%;
    display: flex;
    padding: 0;
}

.table-pubg_wrapper.np-scroll .table-pubg_left, .table-pubg_wrapper.np-scroll .table-pubg_main {
    width: 50%}

.mobile .table-pubg_left .table-pubg thead .table-pubg_td-number {
    padding: 8px 16px 8px 12px;
    width: auto;
}
.mobile .table-pubg_left .table-pubg thead th:nth-child(2) {
    width: auto!important;
}
.mobile .table-pubg_left .table-pubg tbody td:first-child {
    padding: 12px 16px 12px 12px;
}
.mobile .table-pubg_left .table-pubg tbody td:nth-child(2) {
    padding: 12px 20px 12px 8px;
}
.mobile .table-pubg_left, .tablet .table-pubg_left {
    display: inline-block;
    width: auto;
}
.table-pubg_left .table-pubg thead tr th {
    padding: 8px;
}
.table-pubg_left .table-pubg thead tr th:first-child {
    padding: 8px 24px;
}
.table-pubg_left .table-pubg thead tr th:nth-child(5) {
    padding: 8px 38px 8px 8px;
}
.table-pubg_left .table-pubg tbody tr td:first-child {
    padding: 12px 24px;
}
.table-pubg_main {
    width: calc(100% - 510px);
    overflow: hidden;
    cursor: move;
    position: relative;
}
.table-pubg_main.gradient_r:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    display: block;
    background: #fff;
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #FFFFFF 77%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #FFFFFF 77%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, #FFFFFF 77%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    z-index: 1;
}
.table-pubg_main.gradient_l:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60px;
    display: block;
    background: #fff;
    background: -moz-linear-gradient(90deg, #FFFFFF 33%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(90deg, #FFFFFF 33%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, #FFFFFF 33%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    z-index: 1;
}
.table-pubg_main .table-pubg thead tr th:nth-child(3n) {
    padding: 8px 38px 8px 12px;
}

.table-pubg_link {
    font-size: 16px;
    display: block;
    line-height: 18px;
    height: 22px;
    font-weight: 700;
    color: #1b1611;
    padding: 4px 0 0;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.table-pubg a.table-pubg_link:hover {
    color: #f77d40;
}
.table-pubg_bottom {
    height: 16px;
    margin: 8px 0 0;
    font-size: 0;
}
.table-pubg_bottom span {
    display: inline-block;
    line-height: 16px;
    font-size: 14px;
    color: #9a928c;
    font-weight: 400;
}
.table-pubg_bottom span+span {
    margin: 0 0 0 22px;
}
.table-pubg_team {
    font-size: 0;
    display: block;
    width: 100%;
    position: relative;
    padding: 0 0 0 40px;
    height: 32px;
    max-width: 200px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.table-pubg_team-img {
    width: 32px;
    height: 32px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    left: 0;
    top: 0;
    position: absolute;
}
.table-pubg_team-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #181818;
    font-size: 16px;
    line-height: 16px;
    max-height: 32px;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -ms-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.table-pubg_team:hover .table-pubg_team-text {
    color: #f77d40;
}
.table-pubg_td-number {
    width: 64px;
}
.table-pubg thead {
    background: #faf9f7;
    white-space: nowrap;
}
.table-pubg thead.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
}
.table-pubg thead tr th {
    padding: 8px;
}
.table-pubg tbody tr {
    border-top: 1px solid #e3e0dc;
}
.table-pubg tbody tr td {
    vertical-align: middle;
    color: #1b1611;
    font-size: 16px;
    line-height: 32px;
    padding: 12px 8px;
}
.table-pubg tbody tr.current-pos {
    border-bottom: 2px solid #f77d40;
}
.table-pubg tbody .text {
    position: relative;
    display: inline-block;
    line-height: 32px;
    height: 32px;
}
.table-pubg tbody .text span {
    position: relative;
}
.table-pubg tbody .text.place:before {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -moz-border-radius-topleft: 50%;
    -moz-border-radius-topright: 50%;
    -moz-border-radius-bottomright: 50%;
    -moz-border-radius-bottomleft: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%}
.table-pubg tbody .text.place.--gold:before {
    background: #fceaae;
}
.table-pubg tbody .text.place.--silver:before {
    background: #d9d9d9;
}
.table-pubg tbody .text.place.--bronze:before {
    background: #ffd6c0;
}
.table-pubg.--solo .table-pubg_team-img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%}
.table-pubg {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
.mobile .table-pubg_main, .tablet .table-pubg_main {
    display: inline-block;
    width: auto;
}
.mobile .table-pubg {
    font-size: 14px;
}
.mobile .table-pubg_link, .mobile .table-pubg_bottom span, .mobile .table-pubg_team-text, .mobile .table-pubg tr td {
    font-size: 14px;
}
.mobile .table-pubg_team {
    padding: 0;
}
.mobile .table-pubg_team-img {
    display: none;
}
.mobile .table-pubg_team-text {
    white-space: normal;
}
.as-table thead th {
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 6px 16px;
    font-weight: 700;
    vertical-align: bottom;
}
.daterangepicker .calendar-table thead tr th {
    color: #9a928c;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    opacity: .5;
}
.table-match.before table thead {
    display: none;
}
@media screen and (max-width:1200px) {
    .table-match table thead th {
        padding: 0 10px 16px;
    }
}.table-match table thead th:first-child {
     width: 60px;
 }

.table-match table thead th {
    padding: 0 10px 16px 24px;
}
.tournament-content .group table thead th {
    font-weight: 700;
    padding: 0 10px 15px 24px;
}

.as-table tbody tr {
    background: #fff;
}
.table-match table tbody tr {
    border-top: 1px solid #e3e0dc;
}
.table-group tbody tr {
    border-top: 1px solid #e3e0dc;
}
.tournament-content .group table tbody tr {
    border-top: 1px solid #e3e0dc;
}
.table-group th {
    padding: 0 30px 16px 24px;
    font-size: 16px;
    line-height: 22px;
}
.table-team th {
    padding: 16px 10px 16px 16px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
@media screen and (max-width:1200px) {
    .table-group th {
        padding: 0 16px 16px;
    }
}
.table-match table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
}
@media screen and (max-width:767px) {
    .table-match table {
        width: 718px;
    }
}
.tournament-content .group table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
}
@media screen and (max-width:767px) {
    .tournament-content .group table {
        width: 800px;
    }
}

.tournament-content .group table tbody tr:first-child {
    border: none;
}
.tournament-content .group table tbody td {
    padding: 17px 10px 17px 24px;
}


.table-match table tbody tr:first-child {
    border-top: none;
}
.table-match table tbody tr.double+.double {
    border-top: none;
}
.table-match table tbody td {
    padding: 17px 10px 17px 24px;
}
.table-match table tbody td:first-child {
    width: 60px;
}
@media screen and (max-width:1200px) {
    .table-match table tbody td {
        padding: 17px 10px;
    }
}.table-match table tbody td:nth-child(2) {
     font-weight: 600;
 }
@media screen and (max-width:767px) {
    .table-match.before table {
        width: 100%}
}
.table-match.before table tbody td {
    padding: 17px 0;
}
.table-match.before table tbody td:first-child {
    width: 35px;
    padding: 17px 24px 17px 0;
}








